[Desktop Entry]
Type=Application
Name=Embedded IDE
Name[es]=Embedded IDE
Comment=Makefile based IDE for embedded systems
Comment[es]=IDE basado en Makefile para sistemas embebidos
Exec=embedded-ide
Icon=embedded-ide
Terminal=false
Categories=Development;
Actions=FTDI-Install;FTDI-Uninstall;Uninstall;

[Desktop Action FTDI-Install]
Name=Install FTDI Drivers
Name[es]=Instalar Drivers FTDI
Exec=embedded-ide --exec "ftdi-tools.sh --install-ftdi"

[Desktop Action FTDI-Uninstall]
Name=Uninstall FTDI Drivers
Name[es]=Desinstalar Drivers FTDI
Exec=embedded-ide --exec "ftdi-tools.sh --uninstall-ftdi"

[Desktop Action Uninstall]
Name=Remove desktop integration for Embedded IDE
Name[es]=Remover integración con el escritorio de Embedded IDE
Exec=embedded-ide --exec "remove-appimage-desktop-integration"
