ComboDocumentView QComboBox {
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 1px 18px 1px 13px;
    min-width: 6em;
}

ComboDocumentView QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 0px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

ComboDocumentView QComboBox QAbstractItemView {
    padding-left: 13px;
}
