language: cpp

env:
 - QT_SELECT=qt4
 - QT_SELECT=qt5

before_install:
 - sudo add-apt-repository --yes ppa:ubuntu-sdk-team/ppa
 - sudo apt-get update -qq
 - sudo apt-get install -qq libqtcore4 qt4-qmake libqt5core5a qt5-qmake qt5-default qtchooser

script:
 - qmake && make && ./qt-mustache
